.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .main-container__inner {
    width: 29.2rem;
  }
}

// TEXT 관련
.text--big {
  font-size: 1.4rem;
}
.text--small {
  font-size: 0.87rem;
}
.text--smaller {
  font-size: 0.73rem;
}


.text--grey {
  color: #999;
}

@font-face {
  font-family: 'HSGaeulSenggak20';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSGaeulSenggak20.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
