@import './scss/variable.scss';

.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .main-container__inner {
    width: 29.2rem;
  }
}

// TEXT 관련
.text--big {
  font-size: 1.4rem;
}
.text--small {
  font-size: 0.87rem;
}
.text--smaller {
  font-size: 0.68rem;
}

.text--grey {
  color: $grey;
}

.text--white {
  color: $white;
}

h2 {
  margin-bottom: 40px;
  font-size: 1.4rem;
  color: $brown;
  font-family: 'HSGaeulSenggak20';
}

h3 {
  margin-bottom: 40px;
  font-size: 1.3rem;
}

.research {
  padding: 0 20px;
  width: 85%;
  max-width: 400px;
  margin-bottom: 120px;
}
.question {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 50px;
}
.progress {
  border: 1px solid #7b6f66;
  border-radius: 10px;
  height: 10px;
  margin-bottom: 85px;
}
.progress.painted {
  height: 8px;
  background-color: $brown;
}
.progress .dog {
  position: absolute;
  background-image: url("assets/images/dog-progress.png");
  width: 50px;
  height: 50px;
  background-size: 65px 65px;
  background-position: center;
  background-repeat: no-repeat;
}
@font-face {
  font-family: 'HSGaeulSenggak20';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSGaeulSenggak20.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
