
//p {
//  font-family: 'SBAggroB', serif;
//}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 18.6rem;
  margin-bottom: 3rem;
  text-align: center;

  .main-container__inner {
    width: 29.2rem;
  }
}

@font-face {
  font-family: 'SBAggroB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

