@import './scss/variable.scss';

* {
  padding: 0;
  margin: 0;
}

.main-container {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #f1f1e5;
  .main-container__inner {
    width: 29.2rem;
  }
}

// TEXT 관련
.text--big {
  font-size: 1.4rem;
}
.text--small {
  font-size: 0.87rem;
}
.text--smaller {
  font-size: 0.68rem;
}

.text--grey {
  color: $grey;
}

.text--white {
  color: $white;
}

h2 {
  margin-bottom: 40px;
  font-size: 1.8rem;
  color: $brown;
  font-family: 'HSGaeulSenggak20';
  font-weight: bolder;
}

h3 {
  margin-bottom: 40px;
  font-size: 1.3rem;
}

/*.kakao-share-button {
  width: 150px;
  height: 70px;
  border: 1px solid gray;
  border-radius: 8px;
}
.share-image{
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-image: url("../src/assets/images/sha.png")
}*/
@font-face {
  font-family: 'HSGaeulSenggak20';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSGaeulSenggak20.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
