@import './scss/variable.scss';

.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .main-container__inner {
    width: 29.2rem;
  }
}

// TEXT 관련
.text--big {
  font-size: 1.4rem;
}
.text--small {
  font-size: 0.87rem;
}
.text--smaller {
  font-size: 0.68rem;
}

.text--grey {
  color: $grey;
}

.text--white {
  color: $white;
}

h2 {
  margin-bottom: 40px;
  font-size: 1.4rem;
  color: $dark-red;
  font-family: 'HSGaeulSenggak20';
}

h3 {
  margin-bottom: 40px;
  font-size: 1.3rem;
}

@font-face {
  font-family: 'HSGaeulSenggak20';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSGaeulSenggak20.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
