
@font-face {
  font-family: 'ONE-Mobile-POP';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.answer {
  border: 2px solid #7b6f66;
  padding: 14px 8px;
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #ffffff;
}
.answer:hover {
  background-color: #E2C6A8;
}