
@font-face {
  font-family: 'ONE-Mobile-POP';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.answer {
  border: 1px solid #c72e45;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}