@font-face {
  font-family: 'ONE-Mobile-POP';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@import './variable.scss';

.answer {
  border: 2px solid #7b6f66;
  box-sizing: border-box;
  padding: 14px 8px;
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #ffffff;
  font-size: 0.92rem;
}

// 모바일에서 hover 효과가 적용되지 않도록 미디어 쿼리 사용
@media (hover: hover) {
  .answer:hover {
    border: 2px solid $orange;
  }
}
