@import './variable.scss';

.button {
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  // border: 2px solid $light-grey;
  border-radius: 10px;
  outline: none;
  background-color: $brown;
  color: #fff;
  letter-spacing: 1px;
  // font-family: 'HSGaeulSenggak20';
  font-weight: 600;

  padding: 15px 0;

  cursor: pointer;

  &.sandShell {
    background-color: $sand-shell;
  }
  &.rockBrown {
    background-color: $rock-brown;
  }
  &.brown {
    background-color: $brown;
  }
}
