@import './variable.scss';

.button {
    width: 23rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $light-grey;
    border-radius: 10px;
    background-color: $dark-red;
    color: #fff;
    font-family: 'HSGaeulSenggak20';
    font-weight: 500;

    padding: 15px 0;
    margin: 10px 15px;
}