@import './variable.scss';
.home-container {
  position: absolute; 
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  height: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;

  .home-text-box {
    text-align: center;
    margin-bottom: 20px;
    .desc {
      
      margin-bottom: 60px;
      p {
        margin: 0;
        padding: 0;
      }
    }
  }

}