@import './variable.scss';
.home-container {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .home-text-box {
    text-align: center;
    margin-bottom: 20px;
    .desc {
      margin-bottom: 40px;

      p {
        margin: 0;
        padding: 0;
      }
    }
  }
}
