@import '../scss/variable.scss';

.research {
  padding: 0 20px;
  width: 85%;
  max-width: 400px;
}
.question {
  color: #333333;
  font-family: 'InfinitySans-CondBoldA1';
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 50px;
}
.progress {
  border: 1px solid #7b6f66;
  border-radius: 10px;
  height: 8px;
  margin-bottom: 85px;
  background-color: #ffffff;
  position:relative;
}
.progress.painted {
  height: 6px;
  background-color: $brown;
}
.progress .dog {
  position: absolute;
  background-image: url("../assets/images/dog-progress.png");
  width: 50px;
  height: 50px;
  background-size: 65px 65px;
  background-position: center;
  background-repeat: no-repeat;
  margin:-25px 0 0 -16px;
}

@font-face {
  font-family: 'InfinitySans-CondBoldA1';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-CondBoldA1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}