.result-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  &.blue {
    background-color: #567149;
  }
  .img {
    width: 250px;
    height: 250px;

    font-size: 0.9rem;

    background-size: contain;
    &.img_progressive__00 {
      background-image: url(../assets/images/doggo_progressive_00.png);
    }
    &.img_progressive__01 {
      background-image: url(../assets/images/doggo_progressive_01.png);
    }
  }
  .desc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20rem;

    .desc-title {
      margin-bottom: 150px;
    }

    .desc-box {
      width: 340px;
      margin-bottom: 20px;

      display: flex;
      flex-direction: column;
      align-items: center;

      position: relative;
      border-radius: 10px;

      background-color: #fff;
      font-size: 0.9rem;

      .desc-box__img {
        width: 230px;
        height: 230px;
        background-size: contain;

        position: absolute;
        top: -7.5rem;
      }

      .desc-box__text {
        padding: 6.5rem 20px 10px 20px;
      }
    }
  }
}
