@import './variable.scss';

.result-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;

  height: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto auto;

  .waiting_img {
    width: 200px;
    height: 200px;

    font-size: 0.9rem;
    background-image: url(../assets/images/waiting_image.png);

    &.img_waiting__00 {
    }
    &.img_waiting__01 {
      background-position: -200px;
    }
  }

  .img_success {
    background-size: contain;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
  }
}
