.result-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  &.blue {
    background-color: #567149;
  }
  .waiting_img {
    width: 200px;
    height: 200px;

    font-size: 0.9rem;
    background-image: url(../assets/images/waiting_image.png);

    &.img_waiting__00 {
    }
    &.img_waiting__01 {
      background-position: -200px;
    }
  }
  .desc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20rem;

    .desc-title {
      margin-bottom: 150px;
    }

    .desc-box {
      width: 335px;
      margin-bottom: 20px;

      display: flex;
      flex-direction: column;
      align-items: center;

      position: relative;
      border-radius: 10px;

      background-color: #fff;
      font-size: 0.9rem;

      .desc-box__img {
        width: 230px;
        height: 230px;
        background-size: contain;

        position: absolute;
        top: -7.5rem;
      }

      .desc-box__text {
        padding: 6.2rem 20px 20px 20px;
      }
    }
  }
}
